
					/*bottone top*/
html {
	scroll-behavior: smooth;
}
.gotopbtn {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #214FCE;
	bottom: 40px;
	right: 30px;	
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #CAF5F8;
	font-size: 22px;
	border-radius: 20%;
	border: 1px solid #CAF5F8;

	opacity: 0;
	pointer-events: none;
	transition: all .4s ease;
}

.gotopbtn.active {
	pointer-events: auto;
	opacity: 1;
	z-index: 2;
}
.gotopbtn.active:hover {
	color: #CAF5F8;
}
				/* Intestazione tutte le pagine*/
*{
	margin: 0px;
	padding-left: 0px;
	text-decoration: none;
}

h1 {display: none;}

header {
  	background-color: #214FCE;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

body {
	background-image: url("../img/bg-paper.png");
	z-index: 1;
}


#descrizione {
	display: inline-block;
	padding-top: 1.5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	font-style: italic;
	text-align: center;
	margin-left: 3rem;
	margin-right: 1.5rem;
	color: #CAF5F8;
}


 		/*SIDEBAR*/

.sidebar {
	position: relative;
	left:-240px;
	width: 240px;
	height: 100%;
	background: #CAF5F8;
	transition: all .5s ease;	
}
.sidebar h2{
	color: #CAF5F8;
	font-size: 25px;
	line-height: 70px;
	text-align: center;
	background-color: #214FCE;
	user-select: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.sidebar a {
	display: block;
	color: #5B85D9;
	height: 65px;
	width: 100%;
	line-height: 65px;
	padding-left: 30px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-top: 1px solid #214FCE;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

}
#menu:hover, .menu.active {
	border-left: 8px solid #214FCE;
	color: #214FCE !important;
	text-decoration: none !important;
}
.sidebar a i{
	font-size: 23px;
	margin-right: 16px;
}
.sidebar a span {
	letter-spacing: 1px;
 }
 #check {
 	display: none;
 }
 label #btn, label #cancel{
 	position: absolute;
 	cursor: pointer;
 	background: #2CCE2C;
 	height: 45px;
 	width: 45px;
 	text-align: center;
 	line-height: 45px;
 	color: white;
 	font-size: 29px;
 	border-radius: 20%;
 	margin: 15px 30px;
 	border: 1px solid #2CCE2C;
 	transition: all .4s ease;
 }
 label #cancel {
 	opacity: 0;
 	visibility: hidden;
 }
 #check:checked ~ label #btn {
 	margin-left: 245px;
 	opacity: 0;
 	visibility: hidden;
}

 #check:checked ~ label #cancel {
 	margin-left: 245px;
 	opacity: 1;
 	visibility: visible;
}
#check:checked ~ .sidebar{
	left: 0; 
}
@media (max-width: 860px){
	.sidebar{
		height: auto;
		width: 70px;
		left: 0;

	}
	h2,#btn,#cancel {
		display: none;
	}
	span {
		position: absolute;
		margin-left: 23px;
		opacity: 0;
		visibility: hidden;
	}
	.sidebar a i{
		margin-left: -10px;
	}
	#menu:hover {
		width: 230px;
		background: inherit;
		transition: all .3s ease;
	}
	.sidebar #menu:hover span {
		opacity: 1;
		visibility: visible;
		width: 200px;
	}
}
.sidebar,#cancel {
	z-index: 2;
}

h2 {
	margin-bottom: 0px !important;
}

.sidebar{
  margin-bottom: -310px;
}

#voce4{
	height: 50px;  
}

					/*FOOTER*/

footer {
	background-color: #214FCE;
	height: 150px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 40px;
}
button.footer {
	color: #CAF5F8!important;
	background-color: #214FCE !important;
	margin-left: 10px;
	margin-right: 5px;
	padding: 0.5rem !important;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	border: 2px solid #CAF5F8;
}
button.footer:hover {
	color: #214FCE !important;
	background-color: #CAF5F8 !important;
	text-decoration: none !important;
	border: 2px solid #214FCE;
}
#doc {
	float: left;
}

p.footer{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 13px;
	color: white;
	padding-bottom: 5px;
	position: relative;
	bottom: -30px;
}

.fab.fa-instagram {
	margin-left: 25px;
	color: #CAF5F8;
	font-size: 32px;
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 860px){
	.footer {
		bottom: 0px !important;
	} 
	footer div form button {
		margin-bottom: 5px;
	}
	footer {
		height: auto;
	}
}

								/*contenuti HOMEPAGE*/

section#home {
	margin-right: 20%; 
	margin-left: 20%;
}

#benvenuto {
	background-color: transparent;
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 4px;
}

p#grande {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	margin-top: 2rem;
	min-width: 200px;
}

.card {
	z-index: 1;
	width: 16rem;
	margin-top: 1rem;
	box-shadow: 2px 1px #cbcbcb;
	margin-left: 10%;
	margin-bottom: 3rem;

	min-width: 200px !important;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600 !important;
	font-size: 30px !important;
	text-align: center;
	color: #2cce2c;
}

.fas.fa-long-arrow-alt-down {
	margin-left: 1rem;
	color: black;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500 !important;
	font-size: 23px !important;
}
h4 a {
	color: black;
}
h4 a:hover, .card-body a:hover {
	color: #214FCE;
	text-decoration: none;
}

.card-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: black;
}

				/*contenuti*/

#areabottoni {
	padding-left: 30px;
}

.btn.btn-primary.contenuti{
	width: 150px;
	height: 150px;
	margin-left: 10px;
	margin-bottom:5px !important;
	margin-top: 40px !important;
	font-family: 'Raleway', sans-serif !important;
	font-size: 18px !important;
}


button.contenuti {
	border: 3px solid #62F7C5;
	background-color: transparent;
	transition: all .5s ease;
	color: #0bda95;
}
button.contenuti:hover {
	background-color: #0bda95;
	color: white;
	border: 0px;
}

#interne {
	padding-left: 20%;
	padding-right: 20%;
	margin-bottom: 3rem;
}

.container {
	width: 70% !important;
	height: auto;
	padding-bottom: 3rem;
	padding-left: 0px !important;
	background-color: #e7fef6;
	margin-bottom: 3rem;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700 !important;
	font-size: 35px !important;
	color: #0bda95;
	margin-bottom: 50px !important;
	background-color: #e7fef6;
	padding-left: 3rem;
}

p.contenuto {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400 !important;
	font-size: 16px !important;
	color: #262626;
	margin-left: 180px;
	margin-right: 180px;
	width: 70%;
	text-align: left;
}

a.linkparole:hover {
	color: #0bda95;
	text-decoration: none;
}
a.linkparole {
	color: #808080;
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px !important;
	margin-left: 150px;
	margin-top: 50px !important;
	margin-bottom: 20px !important;
	color: #0bda95;
	font-weight: 500;
	clear: left;
}

#mappa {
	background-color: transparent;
}

.didascalia {
	font-family: 'Raleway', sans-serif;
	font-size: 16px !important;
	margin-top: 35px !important;
	margin-bottom: 30px !important;
	color: #0bda95 !important; 
}
.actionmappa {
	font-family: 'Raleway', sans-serif;
	font-size: 18px !important;
	font-weight: 600;
	margin-top: 35px !important;
	margin-bottom: 30px !important;
	color: #0bda95 !important;
}

section {
	margin-bottom: 50px;
}

div.image {
	text-align: center;
}

.sezione {
	font-size: 24px !important;
	background-color: #e7fef6;
	width: 170px;
	text-align: center;
	font-weight: 600;
	padding: 3px;
}

.breadcrumb {
	font-size: 15px;
	background-color: transparent !important;
	font-family: 'Raleway', sans-serif;
	text-align: right !important;
}
nav ol li {
		color: #214FCE !important;
}
nav ol li a{
		color: #214FCE !important;
}
nav ol li a:hover {		
	text-decoration: none;
	color: #214FCE !important;
}

p.contenuto i {
	color: #0bda95;
	font-size: 20px;
	margin-right: 5px;
}

#imglogo {
	float: left;
	margin-left: 150px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 15px;
}

.titolo {
	font-family: 'Raleway', sans-serif;
	font-size: 16px !important;
	margin-left: 150px;
	margin-top: 50px !important;
	color: #0bda95;
	font-weight: 300;
	clear: left;
}

.sticky-top {
	z-index: 1 !important;
}

#camposostituto {
	visibility: hidden;
}

@media (max-width: 860px) {

	#mappa {
		display: none;
	}
	.contenuto {
	margin-left: 20% !important;
	margin-right: 15%;
	max-width: 65%;
	height: auto;
	}

	h6 {
	margin-left: 25%;
	}

	.container {
		min-width: 250px;
		margin-left: 15%;
	}

	#camposostituto {
		visibility: visible;
	}
	#imglogo {
		margin-left: 10%;
	}

	#areabottoni {
		margin-left: 5%;
	}

}

					/*Indici sezioni*/

ul {
	list-style-type: none;
}
.listaprincipale { 
	background-color: white;
	max-width: 400px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #0bda95;
}
.elementoprincipale {
	margin-bottom: 10px;
	margin-top: 5px;
}



div ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 18px !important;
	color: #0bda95 !important;
	padding: 2px;
}

div ul li a:hover{
	text-decoration: none !important;
	background-color: #0bda95;
	color: white !important;
	border-radius: 5px;
}

div ul ul li a {
	font-size: 16px !important;
	padding-left: 15px; 
}

.elementosecondario {
	padding-left: 0px !important;
	margin-left: 10px;
}

.indice {
	margin-left: 10%;
}

div p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}


								/*PAGINA CAMPO ZONE*/
#imgcampo {
	margin-left: 20%;
	margin-right: 15%;
	max-width: 65%;
	height: auto;
}

#campo1 {
	background-color: #FF9900;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo1 {
	width: 200px;
	text-align: center;
	border: 2px dashed #ffb84d;
	border-radius: 5px;
	padding: 2px;
}
#campo2 {
	background-color: #EA57D1;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo2 {
	width: 200px;
	text-align: center;
	border: 2px dashed #EA57D1;
	border-radius: 5px;
	padding: 2px;
}
#campo3 {
	background-color: #07dfc9;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo3 {
	width: 200px;
	text-align: center;
	border: 2px dashed #07dfc9;
	border-radius: 5px;
	padding: 2px;
}
#campo4 {
	background-color: #C43C22;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo4 {
	width: 200px;
	text-align: center;
	border: 2px dashed #C43C22;
	border-radius: 5px;
	padding: 2px;
}
#campo5 {
	background-color: #00e600;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo5 {
	width: 200px;
	text-align: center;
	border: 2px dashed #00e600;
	border-radius: 5px;
	padding: 2px;
}
#campo6 {
	background-color: #0000FF;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo6 {
	width: 200px;
	text-align: center;
	border: 2px dashed #0000FF;
	border-radius: 5px;
	padding: 2px;
}
#campo7 {
	background-color: #e6e600;
	padding: 20px;
	border-radius: 5px;
	color: white;
}
#titolo7 {
	width: 200px;
	text-align: center;
	border: 2px dashed #e6e600;
	border-radius: 5px;
	padding: 2px;
}

							/*MODULI*/
.modulo {
	margin-left: 100px;
	margin-right: 2rem;
	margin-bottom: 2rem;
	max-width: 22%;
	height: auto;
	float: left;
}

h6.moduli {
	margin-bottom: 35px !important;
}

			/*documentazione*/

#architettura {
	margin-left: 15%;
	max-width: 55%;
	height: auto;
}

.wireframe {
	width: 50%;
	height: auto;}

#documentazione {
	margin-left: 150px;
}

.row {
	margin-right: 0px !important;
}
@media (max-width: 860px){
	.iniziodoc {
		padding-left: 15%;
	}
}
